nav {
  width: 100%;
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
}

.footer-wrapper > ul {
  list-style: none;
  display: flex;
  flex-flow: column;
}

.footer-wrapper li {
  margin-top: 25px;
}

address {
  margin-bottom: 0px !important;
  color: white;
}

.footer-wrapper {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #00252e;
}

.username-menu {
  display: inline-flex !important;
  flex-flow: row nowrap;
  align-items: center;
}

.username-menu > img {
  height: 20px;
  margin-right: 5px;
}

.username-menu > span {
  font-family: "Barlow Condensed";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0px;
  color: #242942;
}

@media only screen and (min-device-width: 768px) {
  .footer-wrapper > ul {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  .username-menu > img {
    height: 26px;
  }

  .username-menu > span {
    font-size: 20px;
    font-weight: 500;
    line-height: 19px;
  }
}
