.App-header {
  margin-top: 32px;
}

.App-main {
  margin-top: 48px;
}

.App-footer {
  margin-top: 48px;
}

@media only screen and (min-device-width: 768px) {
  .App-main {
    margin-top: 64px;
  }

  .App-footer {
    margin-top: 64px;
  }
}
